<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/ariapramesi/.local/bin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.meowant.daemon</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/opt/python@3.10/libexec/bin/python3</string>
		<string>/Users/ariapramesi/repos/meowant/meowantd.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/ariapramesi/repos/meowant/meowantd.log</string>
	<key>StandardOutPath</key>
	<string>/Users/ariapramesi/repos/meowant/meowantd.log</string>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>WorkingDirectory</key>
	<string>/Users/ariapramesi/repos/meowant</string>
</dict>
</plist>
